<%- include("header.ejs")%>
<div id="admin-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="admin-heading">All Posts</h1>
			</div>
			<div class="col-md-2">
				<a class="add-new" href="/admin/post/add-post">add post</a>
			</div>
			<div class="col-md-12">
				<table class="content-table">
					<thead>
						<th>S.No.</th>
						<th>Title</th>
						<th>Category</th>
						<th>Date</th>
						<th>Author</th>
						<th>Edit</th>
						<th>Delete</th>
					</thead>
					<tbody>
						<% post.forEach((ele,ind)=>{ %>
						<tr>
							<td class="id"><%= ind %></td>
							<td><%= ele.title %></td>
							<td><%= ele.category.category %></td>
							<td><%= ele.creationTime %></td>
							<td><%= ele.user.user%></td>
							<td class="edit">
								<a href="/admin/post/update/<%= ele._id%>"
									><i class="fa fa-edit"></i
								></a>
							</td>
							<td class="delete">
								<a href="/admin/post/delete/<%= ele._id%>"
									><i class="fa fa-trash-o"></i
								></a>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>

				<ul class="pagination admin-pagination">
					<li class="active"><a>1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<%- include("footer.ejs")%>
