<div id="sidebar" class="col-md-4">
	<!-- search box -->
	<div class="search-box-container">
		<h4>Search</h4>
		<form class="search-post" action="/search" method="get">
			<div class="input-group">
				<input
					type="text"
					name="search"
					class="form-control"
					placeholder="Search ....."
				/>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-danger">Search</button>
				</span>
			</div>
		</form>
	</div>
	<!-- /search box -->
	<!-- recent posts box -->
	<div class="recent-post-container">
		<h4>Recent Posts</h4>
		<% post.forEach((ele,ind)=>{ %>
		<div class="recent-post">
			<a class="post-img" href="/single/<%= ele._id %>">
				<img src="/admin/postimg/<%= ele.img%>" alt="" />
			</a>
			<div class="post-content">
				<h5><a href="/single/<%= ele._id %>"><%= ele.title%></a></h5>
				<span>
					<i class="fa fa-tags" aria-hidden="true"></i>
					<a href="/category/<%= ele.category._id%>"
						><%= ele.category.category%></a
					>
				</span>
				<span>
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<%= ele.creationTime%>
				</span>
				<a class="read-more" href="/single/<%= ele._id %>">read more</a>
			</div>
		</div>
		<%})%>
	</div>
	<!-- /recent posts box -->
</div>
